@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.unread {
    font-weight: bolder;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.664); */
}
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    cursor: pointer;
    background: #555;
}

::-webkit-scrollbar-thumb {
    background-color:  #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
    cursor: grab;
}